:root {
    --specialColor: rgb(21, 33, 56);
    --specialHoverColor: rgb(29, 45, 75);
    --resultBtnColor: rgb(30, 80, 156);
    --resultBtnHoverColor: rgb(6, 50, 113);
}

body {
    background-color: rgb(21, 21, 21);
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#messageArea {
    height: 5vh;
    background-color: rgb(43, 43, 43);
    color:rgb(255, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
}

#resultArea {
    height: 25vh;
    color: rgb(176, 176, 176);
    font-size: 30pt;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
    box-sizing: border-box;
}

table {
    width: 100%;
    height: 70vh;
    font-size: 25pt;
    background-color: rgb(16, 16, 16);
    border-spacing: 10px;
}

th {
    background-color: rgb(30, 30, 30);
    color: white;
    width: 25%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

th:hover {
    background-color: rgb(26, 26, 26);
    transform: scale(1.05);

}

#calcBtn {
    background-color: var(--resultBtnColor);
}

#calcBtn:hover {
    background-color: var(--resultBtnHoverColor);
}

.specialBtn {
    background-color: var(--specialColor);
}

.specialBtn:hover {
    background-color: var(--specialHoverColor);
}

.delBtn {
    background-color: rgb(255, 87, 87);
}

.delBtn:hover {
    background-color: rgb(243, 65, 65);
}